*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100vw;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: cyan;
}
nav ul li{
    padding: 4px;
    background-color: rgb(95, 228, 201);
    border-radius: 10%;
}
.projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project_card{
    max-width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    padding: 5px;
    background: #8d7070;
    border-radius: 10px;

}
.project_card ul{
    margin-right: 10px;
    gap: 10px;
    list-style: none;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}